<div class="topnav" id="myTopnav">
  <div class="right-nav">
    <a id='logo' href="/" class="active"><b>EASE</b></a>
  </div>
  <div class="left-nav">
    <% if signed_in? %>
    <%= link_to 'LISTE DES TOURNOIS', '/tournaments' %>
    <%= link_to 'CREATION TOURNOI', new_tournament_path %>
    <% end %>
    <a href="#news"><b>NEWS</b></a>
    <a href="#contact"><b>CONTACT</b></a>
    <a href="#about"><b>ABOUT</b></a>
  </div>
  <div class='end-nav'>
    <% if signed_in? %>

    <% else %>
    <%= link_to "INSCRIPTION", '/sign_up', class: 'sign_up' %>
    <%= link_to "CONNEXION", '/sign_in', class: 'sign_in' %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  jQuery("document").ready(function($){

  var nav = $('.topnav');

$(".topnav").hide();

  $(window).scroll(function () {
    if ($(this).scrollTop() > 400) {
      nav.addClass("f-nav");
      $(".topnav").show();
    } 
    else {
      nav.removeClass("f-nav");
      $(".topnav").hide();
    }
  });

});
</script>