<div class="topnav" id="myTopnav">
  <div class="right-nav">
    <a id='logo' href="/" class="active"><b>EASE</b></a>
  </div>
  <div class="left-nav">
    <a href="#news"><b>NEWS</b></a>
    <a href="#contact"><b>CONTACT</b></a>
    <a href="#about"><b>ABOUT</b></a>
  </div>
  <div class='end-nav'>
    <%= link_to "INSCRIPTION", '/sign_up', class: 'sign_up' %>
    <%= link_to "CONNEXION", '/sign_in', class: 'sign_in' %>
  </div>
</div>